.header{
    position: fixed;
    right: 200px;
    top: 18px;
    .menu{
        width: 480px;
        height: 650px;
        background-color:#e23720;
        border-radius: 25px;
        position: relative;
        overflow: hidden;
    }
}